.tittle{
    text-transform: uppercase;
   
    font-size: 4vw;
    font-family: Monserrat;
     cursor: pointer;
     color: rgb(0, 0, 0);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider{
    margin: 10px;
    width: 100%;
    background-color: gray;
}